* {
    margin: 0;
    padding: 0;
}

.logo {
    height: 105px;
    width: 195px;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.navbar {
    display: flex;
    margin-right: 50px
}

.navbar>ul {
    display: flex;
}

.navbar-list {
    list-style-type: none;
    align-items: center;
}

.navbar-list>li {
    font-size: 20px;
    padding: 5px 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
    padding: 5px 5px 0px 5px;
    margin: 10px 5px;
    height: 350px;
    width: 350px;
    align-items: center;
}

.card-container:hover {
    cursor: pointer;
    transition: 50ms;
    border: 1px solid grey;
}

.card-img {
    height: 75%;
    width: 100%;
}

.card-content {
    display: flex;
    font-size: small;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-content>h2,
h3,
h4 {
    margin-bottom: 10px;
}

.body {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}