* {
    margin: 0;
    padding: 0;
}

.logo {
    height: 105px;
    width: 195px;
}

.body-div {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.navbar {
    display: flex;
    margin-right: 50px
}

.navbar>ul {
    display: flex;
}

.navbar-list {
    list-style-type: none;
    align-items: center;
}

.navbar-list>li {
    font-size: 20px;
    padding: 5px 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 5px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 5px 5px 0px 5px;
    margin: 10px 5px;
    width: 350px;
    align-items: center;
    background-color: aliceblue;
    justify-content: space-around;
}

.card:hover {
    cursor: pointer;
    transition: 50ms;
    border: 1px solid grey;
    background-color: rgb(168, 198, 227);
}

.card-img {
    height: 60%;
    width: 100%;
}

.card-content {
    display: flex;
    width: 100%;
    font-size: small;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.card-content>h2,
h3,
h4 {
    margin-bottom: 10px;
}

.body {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.filter-btn {
    margin: 10px;
}

.filter-btn button {
    padding: 5px;
    border-radius: 5%;
}

.filter-btn button:hover {
    cursor: pointer;
}